# RAILWAY DEPLOYMENT PROFILE
spring:
  config:
    activate:
      on-profile: railway

  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false

  sql:
    init:
      mode: never

app:
  jwt:
    expiration: 86400000

logging:
  level:
    com.nutech: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: OFF