# RAILWAY DEPLOYMENT PROFILE
spring:
  config:
    activate:
      on-profile: railway

  datasource:
    url: ${DATABASE_URL}?sslmode=require
    driver-class-name: org.postgresql.Driver
    hikari:
      initialization-fail-timeout: 60000
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
        jdbc:
          time_zone: UTC
    generate-ddl: true

  sql:
    init:
      mode: always
      platform: postgresql

  lifecycle:
    timeout-per-shutdown-phase: 30s